.container{
    width: 1200px;
    margin: auto; 
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.box1{
    width: 15%;
    margin-top: 10px;
    margin: 2px;
    display: inline-block;
    padding: 2px;
}
.box2{
    width: 15%;
    margin-top: 10px;
    margin: 2px;
    display: inline-block;
    padding: 2px;
}
.box2 img{
    vertical-align: middle;
}